@charset "ISO-8859-1";


textarea {
	width: 250px;
	height: 300px;
}

.formtable {
	width: 400px;
	padding: 10px;
	border: solid 1px blue;
}

input[type-text]{
	width: 250px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin: 10px;
}